<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard_style.css') }}">
</head>
<body>
    <div class="container">

        <header>

            <h1 class="title">Raport analizy</h1>
            <h2 class="subtitle">{{analyst.Nazwa_pliku}}</h2>

        </header>
        <main>

        <div class="file-overview">
            <div class="card">

                <h4>Podstawowe wartości</h4>
                <p>Ilość_wierszy: {{analyst.Ilość_wierszy}}</p>
                <p>Ilość_kolumn: {{analyst.Ilość_kolumn}}</p>

                <p>Kolumny:
                    {% for column in analyst.Kolumny %}

                        {{column}}

                    {% endfor %}
                </p>

            </div>
            <div class="card">
                <h4>Możliwe błędy</h4>
                <p>Brakujące_dane:
                    {% for x, y in analyst.Brakujące_dane.items() %}
                        {{ x }}: {{ y }}
                    {% endfor %}
                </p>
                <p>Duplikaty: {{analyst.Duplikaty}}</p>
            </div>
        </div>
            <div class="card">
                <h4>Statystyki opisowe</h4>
                {% for statistic, columns in describe.items() %}

                    <h3>{{ statistic }}</h3>
                    {% for column, value in columns.items() %}
                        <p>{{ column }}: {{ value }}</p>
                    {% endfor %}

                {% endfor %}
            </div>

            <h1>Wykresy:</h1>
            {% for chart in charts %}
                <div class="card">

                    <h4>Wykres nr. {{ loop.index }}</h4>
                    <img src="/{{ chart }}" alt="Wykres">

                </div>
            {% endfor %}

            <div class="dashboard-actions">
                <div class="card">
                    {% if analyst.Status == "Poprawny" %}

                        <p style="color: green;">Status: {{ analyst.Status }}</p>

                    {% endif %}
                    {% if analyst.Status == "Niepoprawny" %}

                        <p style="color: red;">Status: {{ analyst.Status }}</p>
                        <span>Chcesz naprawić dane? </span>
                        <form action="/clean" method="POST">
                            <input class="input_submit" type="submit" value="Tak">
                        </form>

                    {% endif %}
                </div>
                <div class="card">
                    {% if analyst.Status == "Poprawny" %}

                        <span>Chcesz pobrać plik PDF? </span>
                        <form action="/download" method="POST">
                            <input class="input_submit" type="submit" value="Tak">
                        </form>

                    {% endif %}
                </div>
            </div>

        </main>

    </div>
</body>
</html>